input[type="button"] {
    width: 100%;
}

.number_field {
    width: 100%;
    text-align: right;
    padding: 5px;
    border: 1px solid;
    height: 35px;
}

table {
    table-layout: fixed;
}

@font-face {
    font-family: 'Quivira';
    src: url("Quivira.otf") format("opentype");
}

body {
    font-family: 'Quivira';
}