input[type="button"] {
    width: 100%;
    border: 3px outset;
    border-radius: 2px;
}

input[type="button"]:hover {
    cursor: pointer;
    font-weight: bold;
}

input[type="button"]:disabled {
    cursor: auto;
    font-weight: inherit;
}

}

.number_field {
    width: 100%;
    text-align: right;
    padding: 5px;
    border: 4px inset #7d6222;
    height: 35px;
    border-radius: 5px;
}

@font-face {
    font-family: 'Quivira';
    src: url("Quivira.otf") format("opentype");
}

body {
    font-family: 'Quivira';
    margin: auto;
}

.roman_display {
    background-color: #f7e2d0;
}

.arabic_display {
    background-color: #d0f2d0;
}

.word_display {
    background-color: #ded3f5;
}

h1 {
    margin: 0px 0px 20px;
    padding: 20px;
    background-color: #7d6222;
    text-align: center;
}

details>summary:hover {
    cursor: pointer;
}

.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 80%;
}

.frac>sup {
    display: block;
    border-bottom: 1px solid;
}

.frac>sub {
    display: block;
}

#calc {
    background-color: #7d6222;
    border-radius: 10px;
    padding: 10px;
    table-layout: fixed;
    width: 300px;
    margin: 0 auto;
    border: 8px outset #7d6222;
}

#calc-container {
    display: inline-block;
    margin: 0px 30px 0px 0px;
}

#content {
    margin: 0 auto;
    width: fit-content;
}

#settings {
    display: inline-block;
    vertical-align: top;
}

#footer {
    margin: 0px 20px;
}